.navbar {
    height: 80px;
    box-shadow: 3px 3px 3px rgba(39, 44, 49, .07), 3px 3px 3px rgba(39, 44, 49, .04);
}

.navbar-icon {
    margin-left: 6%;
    font-weight: 800;
}

.navbar-dark-mode {
    margin-right: 6%;
    right: 0;
}

.icon {
    padding-right: 10px;
}


.content-search {
    background-color: hsl(0, 0%, 98%);
    height: 200px;
    position: relative;
}

.nav-container {
    width: 100%;
    max-width: 1440px;
}

.input-group-text {
    background-color: white
}

.countrieslist {
    background-color: hsl(0, 0%, 98%);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container-col {
    flex-grow: 0;
}

.form-control {
    height: 56px;
    border: none;
    box-shadow: 5px 5px 5px rgba(39, 44, 49, .07), 1px 6px 5px rgba(39, 44, 49, .04);
}

.card-description {
    margin-top: 22px;
}

.a { 
    color: inherit; 
} .a:hover {
    color: inherit;
    text-decoration: none;
}

.info {    
    margin-top: -15px;
}

.card-text {
    font-weight: bold;
}

.card-text-specific {
    font-weight: bold;
        mix-blend-mode: difference;
        color: white;
}

.search {
    position: absolute;
    margin-top: 48px;
    margin-left: 6%;
    width: 65%;
}

.contentContainer {
    width: 100%;
    max-width: 1440px;
}

.btn {
    color: black;
    position: absolute;
    width: 200px;
    height: 56px;
    right: 6%;
    margin-top: 48px;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px rgba(39, 44, 49, .07), 1px 6px 5px rgba(39, 44, 49, .04);
}

.card-img-top {
    height: 160px;
    width: 100%;
    object-fit: cover;    
}

.card {
    margin: 1%;
    width: 264px;
    height: 336px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(39, 44, 49, .07), 1px 6px 5px rgba(39, 44, 49, .04);
}

.countryInfoImage {
    width: 560px;
    height: 401px;
    object-fit: cover;
    margin-top: 0;
}

.btn2 {
    color: black;
    position: absolute;
    width: 136px;
    height: 40px;
    left: 80px;
    margin-top: 80px;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px rgba(39, 44, 49, .07), 1px 6px 5px rgba(39, 44, 49, .04);
}

.infoContainer {
    width: 90%;
    padding: 0px;
}

.searchTitle {
    margin-top: 48px;
    margin-left: 6%;
}

.SearchInfoItens {
    margin-top: 38px;
    display: flex;
}

.searchInfo {
    display: block;
}

.rigthItens {
    margin-left: 10%;
}

.searchBottom {
    margin-left: 7%;
}

li {
    list-style-type: none;
}

.btnCountries {
    color: #454545;
    width: 96px;
    height: 28px;
    margin-left: 14px;
    margin: 1%;
    border: none;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(39, 44, 49, .07), 1px 6px 5px rgba(39, 44, 49, .04);
}

@media screen and (max-width:375px) {

    .card {
        margin-top: 80px;
    }

    .dropdown {
        position: absolute;
        margin-left: 55%;
        margin-top: 35%;
        width: 10%;
    }

    .search {
        width: 90%;
    }

    .btn2 {
        margin-left: -15%;
    }

    .countryInfoImage {
        width: 100%;
        height: 100%;
    }

    .SearchInfoItens {
        display: block;
    }

    .leftItens {
        margin-left: -20%;
    }

    .rigthItens {
        margin-left: -20%;
    }

    .searchBottom {
        margin-left: 0;
    }

}